@import "custom-bootstrap.scss";
@import "bootstrap/scss/mixins";
@import "./layout";
@import "./components/navbar";
@import "./components/table";
@import "./components/sidebar";
@import "./default.scss";

:root {
  --main: #004693;
  --main-transparent: #00469333;
  --main-background: #f3f5f7;
  --sec: #f19b02;
  --font-light: white;
  --gray: #a7a7a7;
  --light-bg: #f3f5f7;
  --red: #cb1818;
  --green: #18cb5f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--main);
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  padding: 1.6rem;
  border-radius: 1rem;
  background-color: var(--main-background);
  &.gray {
    background-color: var(--main-background);
  }
}
