<div class="section my-2 rtl">
  <h2>Cards</h2>
  <div class="section white">
    <div class="section custom-cards-container">
      <div class="custom-projects-card">
        <div class="image-container">
          <img
            src="https://dam-assets.au.reastatic.net/images/w_2000,h_1500/v1666226657/news-lifestyle-content-assets/wp-content/production/image-10_787815ed2d9/image-10_787815ed2d9.jpg?_i=AA"
            alt="project"
          />
        </div>
        <div class="content p-3">
          <div class="data">
            <h5>اسم المشروع</h5>
            <div>جملة تعريفية عن المشروع</div>
          </div>
          <div class="settings">
            <div class="btn-group dropstart">
              <button
                type="button"
                class="btn settings-button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bx bx-cog"></i>
              </button>
              <ul class="dropdown-menu p-2">
                <!-- Dropdown menu links -->
                <li>
                  <a href="">A Link</a>
                </li>
                <li>
                  <a href="">A Link</a>
                </li>
                <li>
                  <a href="">A Link</a>
                </li>
                <li>
                  <a href="">A Link</a>
                </li>
                <li>
                  <a href="">A Link</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
