<div class="section white">
  <div class="section">
    <div class="user-image-create">
      <div
        class="
    "
      >
        <div class="create-user-image" id="userImage">
          <div class="file-info-card d-none">
            <img src="" />
          </div>
          <div class="to-hide">
            hello
            <input type="file" class="image-upload" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="assets/js/createUserImage.js"></script>
