<div class="section">
  <h4>User Image Upload</h4>
  <div class="section white">
    <div class="section">
      <div class="user-image-upload">
        <label class="create-user-image" id="userImageContainer">
          <img
            class="user-image"
            src="assets/images/profile-image.png"
            alt=""
            srcset=""
          />
          <a>رفع صورة</a>
          <input type="file" class="image-upload d-none" accept="image/*" />
        </label>
      </div>
    </div>
    <script src="assets/js/createUserImage.js"></script>
  </div>
</div>
