<div class="section my-2 ltr">
  <h2>Navbar</h2>
  <!-- <h6>Follow The structure found in the image below</h6> -->
  <div>
    <!-- <img
      src="assets/code-images/navbar-png.png"
      width="900px"
      alt=""
      srcset=""
    /> -->
    <p>
      The Navbar layout Starts with the main parent which is <br />
      nav class="navbar navbar-expand-lg bg-body-tertiary" <br />
      Then it's direct child is div with the class="nav-container"
    </p>
    <img width="600px" src="assets/code-images/navbar-layout.png" alt="" />
    <h4>-- Navbar Content --</h4>
    <img
      width="600px"
      src="assets/code-images/nav-container-layout.png"
      alt=""
    />
    <h4>-- Breadcrumb --</h4>

    <img width="800px" src="assets/code-images/breadcrumb.png" alt="" />
  </div>
</div>
