<div class="section my-2">
  <h2>Navigator</h2>
  <div class="px-5 py-4">
    <div class="pages-navigator">
      <a href="#" class="nav-link">
        <div class="page-number">1</div>
        <div class="page-name">البيانات الشخصية</div>
      </a>
      <a href="#" class="nav-link">
        <div class="page-number">1</div>
        <div class="page-name">البيانات الشخصية</div>
      </a>
      <a href="#" class="nav-link active">
        <div class="page-number">1</div>
        <div class="page-name">البيانات الشخصية</div>
      </a>
      <a href="#" class="nav-link">
        <div class="page-number">1</div>
        <div class="page-name">البيانات الشخصية</div>
      </a>
      <a href="#" class="nav-link">
        <div class="page-number">1</div>
        <div class="page-name">البيانات الشخصية</div>
      </a>
      <a href="#" class="nav-link">
        <div class="page-number">1</div>
        <div class="page-name">البيانات الشخصية</div>
      </a>
    </div>
  </div>
</div>
