<div class="section my-2 rtl">
  <h2>Search Bars</h2>
  <div class="row mb-4">
    <div class="col-8">
      <input
        placeholder="كلمة تعريفية للادخال"
        type="text"
        class="form-control"
      />
    </div>
    <div class="col-1">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
    <div class="col-1">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
    <div class="col-2">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-7">
      <input
        placeholder="كلمة تعريفية للادخال"
        type="text"
        class="form-control"
      />
    </div>
    <div class="col-1">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
    <div class="col-2">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
    <div class="col-2">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-6">
      <input
        placeholder="كلمة تعريفية للادخال"
        type="text"
        class="form-control"
      />
    </div>
    <div class="col-2">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
    <div class="col-2">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
    <div class="col-2">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-9">
      <input
        placeholder="كلمة تعريفية للادخال"
        type="text"
        class="form-control"
      />
    </div>
    <div class="col-3">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-8">
      <input
        placeholder="كلمة تعريفية للادخال"
        type="text"
        class="form-control"
      />
    </div>
    <div class="col-2">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
    <div class="col-2">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-7">
      <input
        placeholder="كلمة تعريفية للادخال"
        type="text"
        class="form-control"
      />
    </div>
    <div class="col-3">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
    <div class="col-2">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-4">
      <input
        placeholder="كلمة تعريفية للادخال"
        type="text"
        class="form-control"
      />
    </div>
    <div class="col-4">
      <input
        placeholder="كلمة تعريفية للادخال"
        type="text"
        class="form-control"
      />
    </div>
    <div class="col-2">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
    <div class="col-2">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-3">
      <input
        placeholder="كلمة تعريفية للادخال"
        type="text"
        class="form-control"
      />
    </div>
    <div class="col-3">
      <input
        placeholder="كلمة تعريفية للادخال"
        type="text"
        class="form-control"
      />
    </div>
    <div class="col-3">
      <input
        placeholder="كلمة تعريفية للادخال"
        type="text"
        class="form-control"
      />
    </div>
    <div class="col-3">
      <button class="btn-primary btn btn-100">بحث</button>
    </div>
  </div>
</div>
