<div class="section my-2 ltr">
  <h2>Sizing</h2>
  <div>
    <h4>min-height</h4>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>Class</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mh-40</td>
          <td>min-height: 40vh;</td>
        </tr>
        <tr>
          <td>mh-80</td>
          <td>min-height: 80vh;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
