<div class="section my-2">
  <h2>Status Themes</h2>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Element</th>
        <th scope="col">Class name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="status active">Active</div>
        </td>
        <td>status active</td>
      </tr>
      <tr>
        <td>
          <div class="status stopped">Stopped</div>
        </td>
        <td>status stopped</td>
      </tr>
      <tr>
        <td>
          <div class="status late">Late</div>
        </td>
        <td>status late</td>
      </tr>
      <tr>
        <td>
          <div class="status">Default</div>
        </td>
        <td>
          status <br />
          or <br />
          status ended
        </td>
      </tr>
    </tbody>
  </table>
</div>
