<div class="section my-2">
  <h2>Tables</h2>
  <h4>The Default Table used in most pages in the site</h4>
  <img width="600px" src="assets/code-images/main-table.png" alt="" />

  <p>If table column contains much characters that ruins the table sizing</p>
  <p>Wrap that content with a div with the class limit-((limit-value))</p>
  <p>Table Limit value from limit-1 => limit-6</p>
  <p>the head cell content should be wrapped also with the same limit value</p>
  <img width="600px" src="assets/code-images/table-cell-sizing.png" alt="" />
</div>
<div class="section">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Table</th>
        <th>limit-1</th>
        <th>limit-2</th>
        <th>limit-3</th>
        <th>limit-4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>table classes {table table-borderless}</td>
        <td>
          <div class="limit-1">
            This content is wrapped inside div has a classname ".limit-1"
            <br />
            the parent is the tr or th,<br />
            the head cell must contain the same container with same classname
          </div>
        </td>
        <td>
          <div class="limit-2">
            This content is wrapped inside div has a classname ".limit-2"

            <br />
            the parent is the tr or th,<br />
            the head cell must contain the same container with same classname
          </div>
        </td>
        <td>
          <div class="limit-3">
            This content is wrapped inside div has a classname ".limit-3"

            <br />
            the parent is the tr or th,<br />
            the head cell must contain the same container with same classname
          </div>
        </td>
        <td>
          <div class="limit-3">
            This content is wrapped inside div has a classname ".limit-3"

            <br />
            the parent is the tr or th,<br />
            the head cell must contain the same container with same classname
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="section">
  <div class="table-with-header">
    <h4 class="title">Title</h4>
    <div class="table-container">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>This Table</th>
            <th>Main Container</th>
            <th>Title</th>
            <th>Table Container</th>
            <th>Table</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>-</td>
            <td>.table-with-header</td>
            <td>.title</td>
            <td>.table-container</td>
            <td>table.table.table-borderless</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
