<div class="section">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Class Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="py-2 text-start">.text-start</div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="py-2 text-end">.text-end</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="py-2 text-center">.text-center</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="py-2 text-secondary">.text-secondary</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="py-2 text-primary">.text-primary</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="py-2 text-danger">.text-danger</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="py-2 text-success">.text-success</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="py-2 text-warning">.text-warning</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
