<div class="section my-4">
  <h2>Widgets</h2>
  <div class="section white my-2">
    <h4>Images Gallery Grid with upload</h4>
    <form class="images-gallery-form">
      <div class="images-row">
        <label class="gallery-image">
          <img
            src="https://www.sustainableplaces.eu/wp-content/uploads/2017/02/SmartBuilding.jpg"
            alt=""
          />
          <div class="on-hover">تعديل</div>
          <input type="file" class="d-none" name="" id="" />
        </label>
        <label class="gallery-image">
          <img
            src="https://www.sustainableplaces.eu/wp-content/uploads/2017/02/SmartBuilding.jpg"
            alt=""
          />
          <div class="on-hover">تعديل</div>
          <input type="file" class="d-none" name="" id="" />
        </label>
      </div>
      <div class="images-row">
        <label class="gallery-image">
          <img
            src="https://www.sustainableplaces.eu/wp-content/uploads/2017/02/SmartBuilding.jpg"
            alt=""
          />
          <div class="on-hover">تعديل</div>
          <input type="file" class="d-none" name="" id="" />
        </label>
        <label class="gallery-image">
          <img
            src="https://www.sustainableplaces.eu/wp-content/uploads/2017/02/SmartBuilding.jpg"
            alt=""
          />
          <div class="on-hover">تعديل</div>
          <input type="file" class="d-none" name="" id="" />
        </label>
      </div>
    </form>
  </div>
  <div class="section white my-2">
    <h4>Main Image Preview with upload</h4>
    <form class="images-gallery-form">
      <label class="gallery-image main-image">
        <img
          src="https://www.sustainableplaces.eu/wp-content/uploads/2017/02/SmartBuilding.jpg"
          alt=""
        />
        <div class="on-hover">تعديل</div>
        <input type="file" class="d-none" name="" id="" />
      </label>
    </form>
  </div>
  <div class="section white my-2">
    <h4>User Images With status</h4>
    <p>
      Image with class user-image, In addition of one of the classes: <br />
      (active, late, expired, primary)
    </p>
    <img
      src="https://www.diplomacy.edu/wp-content/uploads/2020/03/Jovan-good.jpg"
      alt=""
      class="user-image active"
    />
    <img
      src="https://www.diplomacy.edu/wp-content/uploads/2020/03/Jovan-good.jpg"
      alt=""
      class="user-image late"
    />
    <img
      src="https://www.diplomacy.edu/wp-content/uploads/2020/03/Jovan-good.jpg"
      alt=""
      class="user-image expired"
    />
    <img
      src="https://www.diplomacy.edu/wp-content/uploads/2020/03/Jovan-good.jpg"
      alt=""
      class="user-image primary"
    />
  </div>

  <div class="section white my-2 rtl">
    <h2>Colored Table</h2>
    <div class="section">
      <div class="colored-table-container">
        <table class="table table-borderless colored-table">
          <thead>
            <tr>
              <th class="text-right">الاجمالي</th>
              <th class="text-left">10,000 SAR</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-success">
              <td class="text-right">المدفوع</td>
              <td class="text-left">10,000 SAR</td>
            </tr>
            <tr class="text-secondary">
              <td class="text-right">المتبقي</td>
              <td class="text-left">10,000 SAR</td>
            </tr>
            <tr class="text-danger">
              <td class="text-right">المطلوب</td>
              <td class="text-left">10,000 SAR</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
