.employee-form {
  $table-width: 1600;
  $cell-width: $table-width / 8;
  .employee-image {
    width: 100%;
    // height: 100%;
    object-fit: contain;
  }
  table {
  }
  @for $i from 1 through 8 {
    .cell-#{$i} {
      min-width: #{$cell-width * $i}px !important;
      max-width: #{$cell-width * $i}px !important;
      width: #{$cell-width * $i}px !important;
    }
  }
}
