nav.navbar {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem;
  background-color: white;
  color: inherit;
  .navbar-toggler:focus {
    box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.425);
  }
  a {
    display: inline-block;
  }
  .nav-item.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
  }
  .navbar-collapse {
    flex-basis: unset;
    flex-grow: unset;
  }
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .breadcrumb {
    margin: 0;
    padding: 0.4em 0;
    background-color: transparent;
    li.breadcrumb-item {
      color: #004693;
      opacity: 0.5;
    }
    li.breadcrumb-item.active {
      opacity: 1;
      font-weight: 900;
    }
    li::before {
      content: none;
    }
    li::after {
      display: inline-block;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: #004693;
      content: "/";
    }
    li:last-of-type::after {
      content: none;
    }
  }
  .navbar-toggler {
    .fa {
      color: #004693;
      font-size: 1.4em;
      line-height: 1em;
    }
  }
  .dropdown-toggle {
    display: flex;
    align-items: center;
    width: fit-content;
    padding-top: 0;
    padding-bottom: 0;
    &::after {
      margin: 0 0.4em;
    }
    .user-img {
      width: 1.6em;
      height: 1.6em;
      overflow: hidden;
      margin-left: 0.6em;
      img {
        display: block;
        border-radius: 100em;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  @media (max-width: 992px) {
    .navbar-collapse {
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      transition: 300ms;

      background-color: white;
      &.showing {
        opacity: 1;
      }
      &.show {
        opacity: 1;
        pointer-events: all;
      }
      .navbar-nav {
        overflow: visible !important;
        .nav-item {
          position: relative;
          text-align: center;
          padding: 0.8rem 0;
          font-size: 1.2rem;
        }
        .dropdown-menu {
          position: absolute;
          top: 100%;
          z-index: 1000;
        }
      }
    }
  }

  .notifications-dropdown {
    width: 20rem;
    max-height: 20rem;
    overflow-y: auto;
    .notification-card {
      display: flex;
      justify-content: space-between;
      margin: 0.8rem 0;
      padding: 0.8rem;
      position: relative;
      color: var(--gray);
      box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
      &.unread::after {
        content: "";
        position: absolute;
        width: 0.4rem;
        height: 100%;
        right: 0;
        top: 0;
        border-top-left-radius: 20rem;
        border-bottom-left-radius: 20rem;
        background-color: var(--sec);
      }
      .content {
        width: 70%;
        display: flex;
        flex-direction: column;
        text-align: start;
        color: var(--main);
        gap: 0.3rem;
        // align-items: center;
        // justify-content: center;
        .title {
          font-weight: 900;
          font-size: 1.075em;
        }
      }
      .time {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
      }
    }
  }
}

.no-arrow {
  &::after {
    content: none;
    display: none;
  }
}

.show-all-notifications {
  width: 100%;
  background-color: var(--sec);
  color: var(--font-light);
  text-align: center;
  padding: 1.2rem 0;
}
