.main-sidebar {
  position: relative;
  width: var(--sidebar-width);
  display: var(--sidebar-display);
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background: var(--main);
  z-index: 9999;
  padding: 2rem 0.25rem;
  overflow-y: inherit;
  scrollbar-width: none;
  color: var(--font-light);
}
