<div class="three-top-cards">
  <div class="top-card">
    <h3>الاعمال الجارية</h3>
    <div class="content ongoing-projects">
      <div class="card-section">
        <h4><a href="#"> انشائي وكلام كتير كنية عن اي حاجة </a></h4>
        <p>بيانات ممكن تكون كتيرة برضو</p>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
      </div>
      <div class="card-section">
        <h4>رخص</h4>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
      </div>
      <div class="card-section">
        <h4>مساحة</h4>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
      </div>
      <div class="card-section">
        <h4>مساحة</h4>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
      </div>
      <div class="card-section">
        <h4>مساحة</h4>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
      </div>
      <div class="card-section">
        <h4>مساحة</h4>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
      </div>
      <div class="card-section">
        <h4>مساحة</h4>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
        <p>بيانات</p>
      </div>
    </div>
  </div>
  <div class="top-card">
    <div class="content status-bars">
      <div class="row">
        <div class="right">
          <h4>البنود</h4>
        </div>
        <div class="left">
          <h4>الحالة</h4>
        </div>
      </div>
      <div class="row">
        <div class="right">
          <p>مساحة</p>
        </div>
        <div class="left">
          <div class="status-bar-container" value="20">
            <div class="percentage"></div>
            <div class="bar">
              <div class="fill"></div>
            </div>
            <div class="dates-container">
              <div class="start-date">
                <p>تاريخ البدء</p>
                <p>1-1-2010</p>
              </div>
              <div class="end-date">
                <p>تاريخ الانتهاء</p>
                <p>1-1-2010</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="right">
          <p>مساحة</p>
        </div>
        <div class="left">
          <div class="status-bar-container" value="60">
            <div class="percentage"></div>
            <div class="bar">
              <div class="fill"></div>
            </div>
            <div class="dates-container">
              <div class="start-date">
                <p>تاريخ البدء</p>
                <p>1-1-2010</p>
              </div>
              <div class="end-date">
                <p>تاريخ الانتهاء</p>
                <p>1-1-2010</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="right">
          <p>مساحة</p>
        </div>
        <div class="left">
          <div class="status-bar-container" value="90">
            <div class="percentage"></div>
            <div class="bar">
              <div class="fill"></div>
            </div>
            <div class="dates-container">
              <div class="start-date">
                <p>تاريخ البدء</p>
                <p>1-1-2010</p>
              </div>
              <div class="end-date">
                <p>تاريخ الانتهاء</p>
                <p>1-1-2010</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top-card ongoing-projects projects-count overflow-hidden">
    <h3>عدد المهام المطلوبة</h3>
    <div class="circular-card">
      <div>
        <h2>5</h2>
        <h5>عدد المهام المطلوبة</h5>
      </div>
    </div>
  </div>
</div>
