{% extends "templates/layout/app.html" %} {% block content %}

<main class="main-view">
  <div class="section my-2">
    <h2><i class="bx bxs-user"></i>Layout</h2>
    <h6>
      <i class="bx bx-folder-plus"></i>Follow The structure found in the image
      below
    </h6>
    <div>
      <img src="assets/code-images/layout.png" width="600px" alt="" srcset="" />
    </div>
  </div>
  {% include "templates/components/documentation/navbar.njk" %} {% include
  "templates/components/documentation/table.njk" %} {% include
  "templates/components/documentation/status.njk" %}
  <div class="section my-2">
    <h2>Buttons</h2>
    <i class="isax isax-bookmark"></i>
    <h6>Works on buttons, anchors and input[type="button"]</h6>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Element</th>
          <th scope="col">Class name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="button" value="Primary" class="btn btn-primary" />
          </td>
          <td>btn btn-primary</td>
        </tr>
        <tr>
          <td>
            <input
              type="button"
              value="Primary"
              class="btn btn-primary light"
            />
          </td>
          <td>btn btn-primary light</td>
        </tr>
        <tr>
          <td>
            <a href="https://facebook.com" class="btn btn-secondary"
              >Secondary</a
            >
          </td>
          <td>btn btn-secondary</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-danger">Danger</button>
          </td>
          <td>btn btn-danger</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-success">Success</button>
          </td>
          <td>btn btn-success</td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-outline-primary">
              Primary
            </button>
          </td>
          <td>btn btn-outline-primary</td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-outline-secondary">
              secondary
            </button>
          </td>
          <td>btn btn-outline-secondary</td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-outline-danger">danger</button>
          </td>
          <td>btn btn-outline-danger</td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-outline-success">
              success
            </button>
          </td>
          <td>btn btn-outline-success</td>
        </tr>
        <tr>
          <div class="section">
            <button
              type="button"
              class="btn btn-primary light w-100 arrow-btn collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
            >
              Collapse Toggle
              <i class="bx bx-sm bx-chevron-left"></i>
            </button>
            <div class="collapse white" id="collapseExample">
              <div class="card card-body">
                <p>
                  Button Classes : btn btn-primary light w-100 arrow-btn
                  collapsed
                </p>
                <p>
                  How to use:
                  <a
                    href="https://getbootstrap.com/docs/5.0/components/collapse/"
                    target="_blank"
                    class="text-danger"
                    >documentation</a
                  >
                </p>
                <div class="section">
                  <a
                    href="https://getbootstrap.com/docs/5.0/components/collapse/"
                    target="_blank"
                    class="btn btn-primary w-100 arrow-btn collapsed my-2"
                  >
                    Link to documentation
                    <i class="bx bx-sm bx-chevron-left"></i>
                  </a>
                  <button
                    type="button"
                    class="btn btn-primary w-100 arrow-btn collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseExample3"
                  >
                    Collapse Toggle
                    <i class="bx bx-sm bx-chevron-left"></i>
                  </button>
                  <div class="collapse white" id="collapseExample3">
                    <div class="card card-body">
                      <p>
                        Button Classes : btn btn-primary w-100 arrow-btn
                        collapsed
                      </p>
                      <p>
                        How to use:
                        <a
                          href="https://getbootstrap.com/docs/5.0/components/collapse/"
                          target="_blank"
                          class="text-danger"
                          >documentation</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section">
            <button
              type="button"
              class="btn btn-primary w-100 arrow-btn collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample2"
            >
              Collapse Toggle
              <i class="bx bx-sm bx-chevron-left"></i>
            </button>
            <div class="collapse white" id="collapseExample2">
              <div class="card card-body">
                <p>
                  Button Classes : btn btn-primary w-100 arrow-btn collapsed
                </p>
                <p>
                  How to use:
                  <a
                    href="https://getbootstrap.com/docs/5.0/components/collapse/"
                    target="_blank"
                    class="text-danger"
                    >documentation</a
                  >
                </p>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="section">
    <h2>Icons</h2>
    <p>i.bx.bx-{icon name}</p>
    <h3>
      <a href="https://boxicons.com/" class="btn btn-success" target="_blank"
        >Select Icon</a
      >
    </h3>
  </div>

  {% include "templates/components/documentation/inputs.njk" %}{% include
  "templates/components/documentation/text.njk" %}{% include
  "templates/components/documentation/widgets.njk" %} {% include
  "templates/components/documentation/nav-tabs.njk" %}{% include
  "templates/components/documentation/cards.njk" %}{% include
  "templates/components/documentation/sizing.njk" %}{% include
  "templates/components/documentation/navigator.njk" %}{% include
  "templates/components/documentation/create-user.njk" %}{% include
  "templates/components/documentation/search.njk" %}{% include
  "templates/components/employee-from.njk" %}
</main>

{% endblock %}
