{% extends "templates/layout/app.html" %} {% block content %}

<main class="main-view ltr">
  <div class="section my-2">
    <h2><i class="bx bxs-user"></i>Layout</h2>
    <h6>Follow The structure found in the image below</h6>
    <div>
      <img src="assets/code-images/layout.png" width="600px" alt="" srcset="" />
    </div>
  </div>
  {% include "templates/components/documentation/navbar.njk" %} {% include
  "templates/components/documentation/table.njk" %} {% include
  "templates/components/documentation/status.njk" %}
  <div class="section my-2">
    <h2>Buttons</h2>
    <i class="isax isax-bookmark"></i>
    <h6>Works on buttons, anchors and input[type="button"]</h6>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Element</th>
          <th scope="col">Class name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="button" value="Primary" class="btn btn-primary" />
          </td>
          <td>btn btn-primary</td>
        </tr>
        <tr>
          <td>
            <input
              type="button"
              value="Primary"
              class="btn btn-primary light"
            />
          </td>
          <td>btn btn-primary light</td>
        </tr>
        <tr>
          <td>
            <a href="https://facebook.com" class="btn btn-secondary"
              >Secondary</a
            >
          </td>
          <td>btn btn-secondary</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-danger">Danger</button>
          </td>
          <td>btn btn-danger</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-success">Success</button>
          </td>
          <td>btn btn-success</td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-outline-primary">
              Primary
            </button>
          </td>
          <td>btn btn-outline-primary</td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-outline-secondary">
              secondary
            </button>
          </td>
          <td>btn btn-outline-secondary</td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-outline-danger">danger</button>
          </td>
          <td>btn btn-outline-danger</td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-outline-success">
              success
            </button>
          </td>
          <td>btn btn-outline-success</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="section">
    <h2>Icons</h2>
    <p>i.bx.bx-{icon name}</p>
    <h3>
      <a href="https://boxicons.com/" class="btn btn-success" target="_blank"
        >Select Icon</a
      >
    </h3>
  </div>

  {% include "templates/components/documentation/inputs.njk" %} {% include
  "templates/components/documentation/nav-tabs.njk" %}{% include
  "templates/components/documentation/sizing.njk" %}{% include
  "templates/components/documentation/navigator.njk" %}{% include
  "templates/components/documentation/create-user.njk" %}{% include
  "templates/components/employee-from.njk" %}
</main>

{% endblock %}
