{% extends "templates/layout/app.html" %} {% block content %}

<main class="main-view">
  <div class="section white">
    <div class="notification-lg-card new">
      <div class="name-date-container">
        <div class="name">احمد محمد حسن</div>
        <div class="date">20/10/2023 PM</div>
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum autem,
        repellendus facilis quas quis at non ad id ducimus est, impedit expedita
        adipisci ipsam exercitationem debitis tenetur quisquam perspiciatis
        possimus.
      </div>
    </div>
    <div class="notification-lg-card">
      <div class="name-date-container">
        <div class="name">احمد محمد حسن</div>
        <div class="date">20/10/2023 PM</div>
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum autem,
        repellendus facilis quas quis at non ad id ducimus est, impedit expedita
        adipisci ipsam exercitationem debitis tenetur quisquam perspiciatis
        possimus.
      </div>
    </div>
    <div class="notification-lg-card">
      <div class="name-date-container">
        <div class="name">احمد محمد حسن</div>
        <div class="date">20/10/2023 PM</div>
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum autem,
        repellendus facilis quas quis at non ad id ducimus est, impedit expedita
        adipisci ipsam exercitationem debitis tenetur quisquam perspiciatis
        possimus.
      </div>
    </div>
    <div class="notification-lg-card">
      <div class="name-date-container">
        <div class="name">احمد محمد حسن</div>
        <div class="date">20/10/2023 PM</div>
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum autem,
        repellendus facilis quas quis at non ad id ducimus est, impedit expedita
        adipisci ipsam exercitationem debitis tenetur quisquam perspiciatis
        possimus.
      </div>
    </div>
  </div>
</main>

{% endblock %}
