{% extends "templates/layout/app.html" %} {% block content %}

<main class="main-view ltr">
  {% include "templates/components/employee-from.njk" %}
  <div class="log-button" onclick="toggleLog()">
    <button class="btn btn-danger">Audit Log</button>
  </div>
  <div class="log-container" id="logContainer">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>Hello Table</th>
          <th>Remove Table</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(0, 100) -%}

        <tr>
          <td>Some Content</td>
          <td>Some Content</td>
        </tr>

        {%- endfor %}
      </tbody>
    </table>
  </div>
</main>

<script>
  function toggleLog() {
    const container = document.getElementById("logContainer");
    if (container.classList.contains("show"))
      container.classList.remove("show");
    else container.classList.add("show");
  }
  toastr.options.onShown = function () {
    console.log("hello");
  };
  toastr.options.onHidden = function () {
    console.log("goodbye");
  };
  toastr.options.onclick = function () {
    console.log("clicked");
  };
  toastr.options.onCloseClick = function () {
    console.log("close button clicked");
  };
  toastr.options.showDuration = 200;
  toastr.options.timeOut = 100000;
  toastr.options.extendedTimeOut = 100000;
  setTimeout(() => {
    toastr.success(
      "My name is Inigo Montoya. You killed my father, prepare to die!",
      "title"
    );
  }, 1000);
</script>
{% endblock %}
