<div class="employee-form rtl">
  <table>
    <tbody>
      <tr>
        <th colspan="6">
          <div class="cell-5">البيانات الشخصية</div>
        </th>
        <th colspan="3">
          <div class="cell-3">الصورة الشخصية</div>
        </th>
      </tr>
      <tr>
        <td colspan="1">
          <div class="cell-1">الاسم الاول</div>
        </td>
        <td colspan="5">
          <div class="cell-4">ابراهيم</div>
        </td>
        <td class="position-relative" colspan="3" rowspan="10">
          <div
            class="cell-3 employee-image-container d-flex justify-center align-items-center"
          >
            <img
              class="employee-image"
              src="https://img.freepik.com/free-photo/handsome-corporate-man-real-estate-agent-assistant-smiling-hold-hands-together-how-may-i-help-you-smiling-friendly-polite-assist-customer-white-background_176420-45257.jpg"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <div class="cell-1">الاسم الثاني</div>
        </td>
        <td colspan="4">
          <div class="cell-4">محمد</div>
        </td>
      </tr>

      <tr>
        <td colspan="1">
          <div class="cell-1">الاسم الاخير</div>
        </td>
        <td colspan="4">
          <div class="cell-4">سيد</div>
        </td>
      </tr>

      <tr>
        <td colspan="1">
          <div class="cell-1">البريد الالكتروني</div>
        </td>
        <td colspan="4">
          <div class="cell-4">alisolimanworks@gmail.com</div>
        </td>
      </tr>

      <tr>
        <td colspan="1">
          <div class="cell-1">رقم الهوية</div>
        </td>
        <td colspan="4">
          <div class="cell-4">142235345</div>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <div class="cell-1">الرقم القومي</div>
        </td>
        <td colspan="4">
          <div class="cell-4">291123123123132</div>
        </td>
      </tr>

      <tr>
        <td colspan="1">
          <div class="cell-1">تاريخ الميلاد</div>
        </td>
        <td colspan="4">
          <div class="cell-4">6/7/2003</div>
        </td>
      </tr>

      <tr>
        <td colspan="1">
          <div class="cell-1">رقم الجوال</div>
        </td>
        <td colspan="2">
          <div class="cell-2">01095574449</div>
        </td>
        <td colspan="1">
          <div class="cell-1">رقم الهوية</div>
        </td>
        <td colspan="2">
          <div class="cell-2">2385123454</div>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <div class="cell-1">رقم حدود</div>
        </td>
        <td colspan="2">
          <div class="cell-2"></div>
        </td>
        <td colspan="1">
          <div class="cell-1">رقم الجواز</div>
        </td>
        <td colspan="2">
          <div class="cell-2">A12345123</div>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <div class="cell-1">الجنسية</div>
        </td>
        <td colspan="2">
          <div class="cell-2">مصري</div>
        </td>
        <td colspan="1">
          <div class="cell-1">الجنس</div>
        </td>
        <td colspan="2">
          <div class="cell-2">ذكر</div>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <div class="cell-1">العوان الحالي</div>
        </td>
        <td colspan="2">
          <div class="cell-2">مدينة نصر</div>
        </td>
        <td colspan="1">
          <div class="cell-1">المحافظة</div>
        </td>
        <td colspan="2">
          <div class="cell-2">القاهرة</div>
        </td>
        <td colspan="1">
          <div class="cell-1">العنوان بالتفصيل</div>
        </td>
        <td colspan="2">
          <div class="cell-2">مدينة نصر - القاهرة</div>
        </td>
      </tr>
      <tr>
        <th colspan="9">
          <div class="cell-9">البيانات البنكية</div>
        </th>
      </tr>
      <tr>
        <td colspan="1">
          <div class="cell-1">رقم الحساب</div>
        </td>
        <td colspan="2">
          <div class="cell-2">148907234589670</div>
        </td>
        <td colspan="1">
          <div class="cell-1">الايبان البنكي</div>
        </td>
        <td colspan="2">
          <div class="cell-2">SA348795635</div>
        </td>
        <td colspan="1">
          <div class="cell-1">اسم البنك</div>
        </td>
        <td colspan="2">
          <div class="cell-2">البنك المركزي</div>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <div class="cell-1">العنوان في الدولة الام</div>
        </td>
        <td colspan="2">
          <div class="cell-2">القاهرة</div>
        </td>
        <td colspan="1">
          <div class="cell-1">المحافظة</div>
        </td>
        <td colspan="2">
          <div class="cell-2">القاهرة</div>
        </td>
        <td colspan="1">
          <div class="cell-1">العنوان بالتفصيل</div>
        </td>
        <td colspan="2">
          <div class="cell-2">القاهرة - مصر</div>
        </td>
      </tr>
      <tr>
        <th colspan="9" class="violet">
          <div class="cell-9">بيانات اتصال الطوارئ</div>
        </th>
      </tr>
      <tr>
        <td colspan="1">
          <div class="cell-1">الاسم الكامل</div>
        </td>
        <td colspan="2">
          <div class="cell-2">احمد محمد محمود</div>
        </td>
        <td colspan="1">
          <div class="cell-1">رقم تليفون</div>
        </td>
        <td colspan="2">
          <div class="cell-2">0101234567</div>
        </td>
        <td colspan="1">
          <div class="cell-1">صلة القرابة</div>
        </td>
        <td colspan="2">
          <div class="cell-2">اخ</div>
        </td>
      </tr>
      <tr>
        <th colspan="7">
          <div class="cell-7">نموذج تأكيد واستلام المستندات</div>
        </th>
        <td colspan="1">
          <div class="cell-1 text-center">موجود</div>
        </td>
        <td colspan="1">
          <div class="cell-1 text-center">غير موجود</div>
        </td>
      </tr>
      {% for i in range(0, 15) -%}
      <tr>
        <td colspan="7">
          <div class="cell-7">جزء من الاوراق المطلوبة</div>
        </td>
        <td colspan="1">
          <div class="cell-1 text-center">*</div>
        </td>
        <td colspan="1">
          <div class="cell-1 text-center"></div>
        </td>
      </tr>

      {%- endfor %}
    </tbody>
  </table>
</div>
