<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="nav-container">
    <button class="toggleSidebar navbar-toggler d-flex d-md-none" type="button">
      <i class="bx bx-horizontal-left"></i>
    </button>
    <!-- <button class="btn btn-danger toggleSidebar" id="toggleSidebar">
      Open Sidebar
    </button> -->
    <ol class="breadcrumb d-none d-md-flex">
      <li class="breadcrumb-item"><a href="#">الهيكل التنظيمي</a></li>
      <li class="breadcrumb-item"><a href="#">العقود</a></li>
      <li class="breadcrumb-item active">العقود المحولة</li>
    </ol>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle no-arrow"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="welcome-message"><i data-lucide="bell"></i></div>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle no-arrow"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="welcome-message">
              <i class="bx bx-bell"></i>
            </div>
          </a>
          <ul class="dropdown-menu notifications-dropdown p-0">
            <li>
              <a class="notification-card unread" href="#">
                <div class="content">
                  <div class="title">Ali Soliman</div>
                  <div class="">Ahmed Send You a friend request</div>
                </div>
                <div class="time">
                  <div>2023/5</div>
                  <div>06:30AM</div>
                </div>
              </a>
            </li>
            <li>
              <a class="notification-card unread" href="#">
                <div class="content">
                  <div class="title">Ali Soliman</div>
                  <div class="">Ahmed Send You a friend request</div>
                </div>
                <div class="time">
                  <div>2023/5</div>
                  <div>06:30AM</div>
                </div>
              </a>
            </li>
            <li>
              <a class="notification-card unread" href="#">
                <div class="content">
                  <div class="title">Ali Soliman</div>
                  <div class="">Ahmed Send You a friend request</div>
                </div>
                <div class="time">
                  <div>2023/5</div>
                  <div>06:30AM</div>
                </div>
              </a>
            </li>
            <li>
              <a class="notification-card unread" href="#">
                <div class="content">
                  <div class="title">Ali Soliman</div>
                  <div class="">Ahmed Send You a friend request</div>
                </div>
                <div class="time">
                  <div>2023/5</div>
                  <div>06:30AM</div>
                </div>
              </a>
            </li>
            <li>
              <a class="notification-card" href="#">
                <div class="content">
                  <div class="title">Ali Soliman</div>
                  <div class="">Ahmed Send You a friend request</div>
                </div>
                <div class="time">
                  <div>2023/5</div>
                  <div>06:30AM</div>
                </div>
              </a>
            </li>
            <li>
              <a class="notification-card unread" href="#">
                <div class="content">
                  <div class="title">Ali Soliman</div>
                  <div class="">Ahmed Send You a friend request</div>
                </div>
                <div class="time">
                  <div>2023/5</div>
                  <div>06:30AM</div>
                </div>
              </a>
            </li>
            <li>
              <a class="show-all-notifications" href="#">
                Show All Notifications
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><div class="user-img">
              <img
                src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359554_640.png"
                alt=""
              />
            </div>
            <div class="welcome-message">اهلا هالة</div>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
