<div class="main-sidebar">
  <div class="icon-container"></div>
  <nav class="side-nav" id="sideBar">
    <div class="links-class">
      <div class="open-section">التقرير البياني</div>
      <div class="container">
        <a href="#" class="link">الفروع</a>
        <a href="#" class="link">الادارة والاقسام</a>
        <a href="#" class="link">ادارة العقود</a>
      </div>
    </div>
  </nav>
</div>
